.theme-light {
  --color-primary: rgba(7, 39, 53, 0.79);
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: var(--color-primary);
  --nav-background-color: rgba(239, 10, 255, 0.53);

}

.theme-dark {
  --color-primary: #ffffff;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: rgba(204, 151, 200, 0.91);
  --nav-background-color: rgba(14, 21, 34, 0.54);
}

.app{
  background-image: linear-gradient(to right, var(--color-secondary) , #6aa2ff);
  min-height: 1000px;
  --font: 'Indie Flower', cursive;

}


.logo{
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  line-height: normal;
  -webkit-text-fill-color: var(--font-color);
}

.nav{
  font-family: 'Open Sans', sans-serif;
  -webkit-text-fill-color: var(--color-primary);
}

#navbar{
  background-color: var(--nav-background-color);
  padding: 0 1% 0 1%;
}

.toggle-theme{
  position: relative;
  top: 1.5vh;

}
.rs-btn-toggle-lg.rs-btn-toggle-checked{
  background: mediumorchid;
}

.rs-btn-toggle-lg.rs-btn-toggle:hover{
  background: rgba(255, 180, 251, 0.84);
}

#temp-scale-radio{
  float: right;
  border: transparent;


}

#celsius-scale label{
  font-size: 40px;

}
#fahrenheit-scale label{
  font-size: 40px;

}
